<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-bottom">

 <!-- Menu 2 -->
 <div class="menuheader"></div>
 <div class="headerContenaire">
   <img src="assets/images/informaticien.jpg" alt="photo">
   <ion-label>
     <h2>B.Djiguiba</h2>
     <h3>Malien</h3>
   </ion-label>
 </div>
  <!-- Fin menu 2 -->
  <ion-button routerLink="/connexion">Connexion1</ion-button>
  <ion-button routerLink="/connexion2">Connexion2</ion-button>
  <ion-button routerLink="/inscription">Inscription</ion-button>
  <ion-button routerLink="/profil">Profil</ion-button>
  <ion-button routerLink="/popossemessage">Popup</ion-button>
</ion-content>

