<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-bottom">
  <ion-item>
    <ion-input [type]="type" [placeholder]="placeholder"></ion-input>
  </ion-item>
</ion-content> -->


<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back" routerLink="/connexion"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--  -->
    <ion-buttons slot="end">
      <ion-button routerLink="/connexion">connexion</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  -->
    <h1>Créez votre <br> compte </h1>
    <!-- <img src="assets/images/informaticien.jpg" alt=""> -->

  <!--  -->
  <form id="form">
    
    <ion-input placeholder="Votre nom complet"></ion-input>
    <ion-input placeholder="Email"></ion-input>
    <ion-input type="password" placeholder="Password" ></ion-input>
    <ion-button expand="block" shape="round"> S'inscrire</ion-button>
  </form>

  <p>Veuillez lire les conditions<br> d'inscription de notre application.</p>

</ion-content>
