.header{
    background-color:rgb(97, 61, 100);
    height: 180px;
    padding-top: 1px;
}
// Nom utilisateur
.header h2{
    color: white;
    font-weight: bold;
    text-align: center;
}
//  Tout conténues Abonnées(nement)
.space-between{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
    
}
// Abonnées(nement)
.followings p{
    color: white;
    margin: 8px 0px 0px 0px 0px;
    
}
// Numéro Abonnées(nement)
.followings{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    // bordure en arrondi
    overflow: hidden;
}
.Image-Position{
    display: flex;
    justify-content: center;
    margin-top: -60px;
}
.Premier-border-Image{
    border: 4px solid white ;
    border-radius: 50%;
    // Adapter la bordure à la largeur d'image
    width: fit-content;  
}
.Second-border-Image{
    border: 7px solid chocolate ;
    border-radius: 50%;
    // Adapter la bordure à la largeur d'image
    width: fit-content;
}
//@at-root
.tweetPoste{
    margin-top: -10px;
}
// Pourque le tweetPoste soit comme un tweet
.tweetPoste ion-label{
    line-height: 1!important;
    font-size: 15px;
    margin: 6px 0px 6px 0px;
    min-height: 34px;
}
.tweetimage{
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}
// iconTweet
.iconTweet{
    text-align: center;
}
