<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/tab2">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 2 Second Login -->
<ion-content class="ion-padding ion-text-center">

  <div class="Tout">
  <div class="logo">
    <img src="assets/images/circle.png" alt="images">
  </div>

  <div class="form"> 

  <ion-item lines="none">
    <ion-input [(ngModel)]="email" placeholder="Votre email"></ion-input>
  </ion-item>
  <!--  -->
  <ion-item lines="none">
    <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
  </ion-item>

  <ion-button color="dark" expand="block">Connexion</ion-button>
</div>

<ion-button fill="clear" routerLink="/inscription">Créer un compte ?</ion-button>

<!-- Afficher les saisi du champ en bas -->
<!-- 
  <h6>{{email}}</h6>
<h6>{{password}}</h6> 
-->
</div>
</ion-content>